@model NordicArenaDomainModels.Models.JudgingCriterion
@using NordicArenaDomainModels.Resources
@using NordicArenaTournament.Common

<div>
    @* TODO: Use standard controls (LabelValuePairFor). *@
    <span class="label-value-pair" style="width: 425px">
        <span class="editor-label" style="width: 100px">@Model.Title</span>
        <span class="editor-field" style="width: 285px">
            @{
                var val =
                    "(" + Html.NameFor(p => p.Min) + "-" + Html.NameFor(p => p.Max) + ":" +
                    Html.ValueFor(p => p.Min) + "-" + Html.ValueFor(p => p.Max) + ", " +
                    Html.NameFor(p => p.Step) + ": " + Html.NameFor(p => p.Step) + ")";
            }
            <input type="text" readonly="readonly" value="@Html.Raw(val)" style="width:280px" />
        </span>
    </span>
</div>