@model NordicArenaTournament.ViewModels.LoggedElmahErrorViewModel
@{
    ViewBag.Title = "An error occured";
}

<h2>An unexpected error occured</h2>
@if (NordicArenaTournament.Common.App.IsCompiledDebug)
{
    <p class="debug-error-details">
        @Model.Error.Error.Type - @Model.Error.Error.Message
    </p>
    <p>
        <a href="/elmah.axd/detail?id=@Model.Error.Id">Link</a>
    </p>
}
The entry has been logged with ID @Model.Error.Id


