@using NordicArenaDomainModels.Resources
@using NordicArenaTournament.Common
@{
    ViewBag.Title = NaHtml.PageTitle(Text.CreateUserPageTitle);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Text.CreateUserPageTitle</h2>
