/* Judge-page-Wspecific styles
-----------------------------------------------------------*/
:focus {
  outline: none;
}
.banner {
  display: none;
}
#judge-contestant-inner-container {
  background: #443F3F;
}
.button-container {
  text-align: center;
}
.button-container button {
  text-align: center;
  min-width: 80%;
  position: relative;
  border-radius: 5px;
}
#judge-contestant-inner-container .button-container button {
  top: .7em;
}
.rider-info {
  position: relative;
  top: .7em;
}
.slider-button {
  display: inline-block;
  width: 60px;
  padding: 0;
  margin: 0;
  border: 2px solid black;
  background: transparent;
  border-radius: 5px;
  font-size: 2.5em;
  color: #666;
}
.slider-button-plus {
  margin-bottom: 0.2em;
}
.slider-button-minus {
  margin-top: 0.2em;
}
.ui-slider-vertical {
  width: 60px;
  height: 300px;
  background: #443f3f;
}
.secondary-header-bar {
  padding: .5em 0 .5em 0;
  background: white;
}
.input-container {
  margin: 0;
  padding: .5em;
  background: #F1F1F1;
}
section.main-content {
  margin: 0;
  padding: 0;
}
.ui-slider-handle {
  width: 71px !important;
  height: 35px !important;
  left: -5px !important;
  background: white 50% 50% repeat-x !important;
  border-radius: 10px;
  text-align: center;
  border: 2px solid black !important;
}
.ui-slider-handle:after {
  color: #ffd1d1;
  position: relative;
  top: 0;
  content: "";
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  color: #666;
  font-size: 1.5em;
}
.ui-slider-range {
  background: #03aaec;
}
/* Outer container box for all sliders*/
.slider-container {
  margin: auto;
  text-align: center;
}
/* Slider containing box -including text field */
.na-slider {
  margin: 0em .7em 1em .7em;
  text-align: center;
  display: inline-block;
  /* Text box */
  /* The actual slider bar with knob */
}
.na-slider > div {
  margin: .5em;
}
.na-slider > div.slider {
  margin: auto;
}
.label-value-pair {
  width: calc(95.5px);
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  margin: 0 !important;
}
.criteria-name {
  display: block;
  padding: .3em;
  color: #666;
  font-weight: 600;
  border: none;
}
.score {
  width: 85px;
  text-align: center;
  padding: 4px !important;
  margin: 0px 0px !important;
  left: 0px;
  position: relative;
  border: none !important;
  color: #666;
  font-size: 1.2em;
  background-color: transparent !important;
  height: initial !important;
}
.score.disabled {
  background: none;
  border: none !important;
  background-color: transparent !important;
}
#judging-container.disabled .ui-slider-handle {
  background: gray !important;
}
#judging-container.disabled .ui-slider-range {
  background: #262626 !important;
}
#judge-submit {
  margin: 0;
  padding: 0.5em;
}
.clearfix {
  height: 1em;
}
.logged-in-as-box {
  /*position: absolute;
    bottom: 30px;
    left: 0;
    margin: .5em;*/
}
#contestant-name {
  text-align: left;
  widtH: 100%;
  padding-left: 4em;
  Color: #393939;
}
.judge-contestant-selector {
  display: inline-block;
  margin: 0;
  padding: .5em;
  font-size: 150%;
  min-width: 200px;
  border: 1px gray solid;
  background: white;
  color: #666;
}
.judge-contestant-selector.right {
  float: right;
}
.judge-contestant-selector.selected {
  background: #03aaec;
  color: white;
}
.averageBox {
  display: block;
  margin: 0 0 20px 0;
  font-size: 40px;
}
.averageBox .avg-label {
  font-size: 80%;
  display: inline-block;
}
.averageBox .avg-value {
  font-weight: bold;
}
@media (max-width: 1000px) {
  .averageBox {
    font-size: 55px;
  }
}
@media (max-width: 790px) {
  .averageBox {
    font-size: 35px;
    margin: 10px 40px;
  }
}
.slider-left {
  float: left;
}
.slider-right {
  float: right;
}
@media (max-width: 1023px) {
  .ui-slider-vertical {
    width: 48px;
  }
  .ui-slider-handle {
    width: 56.8px !important;
  }
  .label-value-pair {
    width: 76px;
  }
  .score {
    width: 66px;
  }
}
/*# sourceMappingURL=judge.css.map */