/* Tags and main page elements */
html {
    height: 100%;
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    display: inline;
}

#body-container {
    min-height: 100%;
    position: relative;
    text-transform: uppercase;
}

section.main-content {
    padding: 1em;
    padding-bottom: calc(10em);
}

header,
footer,
nav,
section {
    display: block;
}

progress {
    width: 100%;
    height: 5px;
}

input[type='text'],
input[type='datetime'],
input[type='date'],
input[type='number'] {
    background: #F2F2FF;
    border: 1px #77C solid;
    padding: 3px;
    margin-left: .2em;
}

.short-number input {
    width: 4em;
}

.long-text input {
    width: 100%;
}

.banner {
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    height: 90px;
    background: no-repeat;
}

img.normal-margin {
    margin: 4px;
}

/* Buttons */
button,
input[type='button'],
input[type='submit'] {
    margin: 0.4em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ffffff;
    background: #a2a2a2;
    border: none;
    padding: .4em;
}

button:hover,
input[type='button']:hover,
input[type='submit']:hover {
    background: #444444;
}

button[disabled='disabled'],
input[type='button'][disabled='disabled'],
input[type='submit'][disabled='disabled'] {
    background: #d7d7d7;
    color: #ffffff;
}

.field-validation-error {
    color: #ffffff !important;
}

/* Headers and navigation */
header {
    width: 100%;
    padding: .6em .6em 1em .3em;
    box-sizing: border-box;
}

header img {
    float: left;
    display: inline-block;
    margin: .6em 2em;
}

nav.admin-header,
nav.admin-supernavigation {
    text-align: right;
    width: 100%;
    vertical-align: middle;
    padding-right: 2em;
}

nav.admin-header a,
nav.admin-supernavigation a {
    font-weight: 600;
    margin: .4em;
}

footer {
    width: 100%;
    min-height: 8em;
    position: absolute;
    bottom: 0;
    color: #cccccc;
    background: #232323;
}

footer #footer-content {
    position: absolute;
    bottom: 18px;
    display: table-row;
}

footer #footer-content a {
    color: #9999ff;
}

footer #footer-content #footer-left {
    padding: 1em 1em 1em 1em ;
    display: table-cell;
    width: 100%;
    vertical-align: bottom;
}

footer #footer-content #footer-right {
    display: table-cell;
    padding: 1em 2em .2em 1em;
    vertical-align: bottom;
}

footer #footer-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 18px;
    background: #e84e4e;
}

a,
a:visited {
    /*font-family: "LeagueGothicCondensed", "Arial Narrow", sans-serif;*/
    font-family: "Arial Narrow", sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 0.3em;
    color: #393939;
    text-transform: uppercase;
}

a:hover {
    background: #eeeeee;
}

@font-face {
    font-family: "LeagueGothicCondensed";
    src: url("/Content/fonts/LeagueGothic-CondensedRegular.otf") format("opentype");
}

a.selected {
    font-family: 'Arial Narrow', 'Nimbus Sans L', sans-serif;
    color: #e84e4e;
}

h1,
h2 {
    font-family: 'Arial Narrow', 'Nimbus Sans L', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

nav.admin-header a.hover {
    background: #eeeeee;
}

.secondary-header-bar {
    background: #e4e4e4;
    color: #393939;
    width: 100%;
    padding: .5em;
    text-align: center;
    font-size: 200%;
}

.secondary-header-bar .details {
    font-size: 50%;
}

@media print {
    .noprint {
        display: none !important;
    }
}

.center {
    text-align: center;
    margin: auto;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em .4em 1.4em;
    margin: 0 0 1.0em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    display: inline-block;
    padding: 0em .9em;
    text-transform: uppercase;
    color: #ffffff;
}

.editor-field {
    display: inline-block;
}

.editor-field input {
    border: 0;
    margin: 0;
    padding-left: 1em;
    margin-bottom: 0px;
    width: auto;
    height: 2em;
    text-transform: uppercase;
    background: #e4e4e4;
    height: 27px;
}

.label-editor-pair,
.label-value-pair {
    background: #e84e4e;
    display: inline-block;
    margin: 0.3em;
    white-space: nowrap;
    border: 1px #393939 solid;
}

.input-container {
    background: #e4e4e4;
    padding: 1em 4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Standard table */
table {
    margin-top: 7px;
    margin-bottom: 7px;
    border: solid 1px #e84e4e;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    color: Black;
    border: solid 1px #c12b2b;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e84e4e;
    color: #ffffff;
    border: solid 1px #c12b2b;
}

table.clean {
    border: none;
}

table.clean th,
table.clean td {
    border: none;
}

th.highlighted-column {
    background: #c12b2b;
}

td.highlighted-column {
    background: #EEE;
}

/* Other general styles */
@keyframes blue-to-transparent {
    from {
        background: #7474ff;
    }

    to {
        background: none;
    }
}

.row-highlight-flash {
    animation: blue-to-transparent 2s;
}

.debug-error-details {
    font-family: monospace;
}

.inlineblock {
    display: inline-block;
}

.hidden {
    display: none;
}

.error {
    padding: .5em;
    font-size: 120%;
    background-color: red;
    color: white;
    border: 1px gray solid;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

/* Page-specific
----------------------------------*/
/* Tournament configuration */
.round-progress-arrow {
    position: relative;
    text-align: center;
    width: 100%;
    line-height: 1.8em;
}

.round-progress-arrow::before {
    content: "\025BC";
    font-size: 30px;
    text-align: center;
    width: 100%;
    display: block;
    color: black;
}

.reset-symbol-button::before,
.delete-symbol-button::before {
    font-size: 20px;
    text-align: center;
    color: red;
    width: 100%;
    display: block;
    min-width: 30px;
}

.delete-symbol-button::before {
    content: "\02715";
}

.delete-symbol-button[disabled~="disabled"]::before {
    color: gray;
}

.reset-symbol-button::before {
    color: red;
    font-weight: bold;
    content: "\21BA";
}

.round {
    display: table;
}

.round fieldset {
    margin-bottom: .8em;
    border: black 1px solid;
}

.round-data {
    display: table-cell;
}

.round-buttons {
    display: table-cell;
    vertical-align: top;
}

.nav-button-grey {
    width: 60px;
    height: 60px;
    font-size: 23px;
    font-family: 'Times New Roman';
    padding: 10px 0 0 18px;
}

.next-grey:before {
    content: url('/Content/svg/angle-right.svg');
}

.previous-grey:before {
    content: url('/Content/svg/angle-left.svg');
}

.nav-button-white {
    width: 70px;
    height: 70px;
}

.nav-button-white:before {
    content: "\00a0";
}

button.previous-white,
button.next-white {
    background-repeat: no-repeat;
    background-position-y: -5px;
}

button.previous-white {
    background-position-x: -7px;
    background-image: url('/Content/images/pil-venstre.png');
}

button.next-white {
    background-position-x: 0px;
    background-image: url('/Content/images/pil-høyre.png');
}

/* Speaker
-----------------------------------------------------------*/
#speaker-controls {
    text-align: center;
    padding-bottom: 2em;
}

.speaker-control-container {
    display: inline-block;
    border: 1px black solid;
    text-align: center;
    margin: .3em;
    padding: 0;
    min-height: 190px;
    box-shadow: #ccc 2px 2px;
    vertical-align: top;
    min-width: 190px;
}

.speaker-control-container .header {
    text-size: 110%;
    background: #e84e4e;
    color: #ffffff;
    padding: .3em;
    margin: 0 0 1em 0;
}

.speaker-control-container table {
    margin: auto;
}

.speaker-timer-text {
    font-size: 3em;
    float: right;
    text-align: center;
    width: 100%;
}

#speaker-round-controls form {
    display: inline;
}

fieldset.speaker {
    background-color: #fffa9c;
    height: 190px;
    width: 100%;
}

div.judge-status-done,
div.judge-status-waiting {
    width: 48px;
    height: 16px;
    border-radius: 2px;
    background: red;
    border: 1px black solid;
    margin-right: 8px;
    box-shadow: #ccc 1px 1px;
}

div.judge-status-done {
    background: green;
}

/* Contestant list */
#contestant-container {
    display: flex;
}

#contestant-list {
    -ms-flex: 3 3 auto;
    flex: 3 3 auto;
    margin: 1em;
}

#contestant-edit {
    float: left;
    -ms-flex: 7 7 auto;
    flex: 7 7 auto;
    border-left: 1px gray solid;
    margin: 1em;
    padding: 0em 4em;
}

.contestant-list-name {
    display: block;
}

a.add {
    display: inline-block;
    padding-right: 30px;
    margin-bottom: 1.5em;
    background: url('/Content/images/circeled-plus.png');
    background-repeat: no-repeat no-repeat;
    background-position: right center;
    background-size: 28px;
}

a.selected {
    color: #e84e4e;
}

#save-contestant-button {
    float: right;
}

/** Judgement List */
#judgementlist input {
    width: 60px;
}

/* Animations */
@-moz-keyframes popInAnim {
    0% {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    70% {
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes popInAnim {
    0% {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    70% {
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes popInAnim {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.popIn {
    -moz-animation: popInAnim .3s;
    -o-animation: popInAnim .3s;
    -webkit-animation: popInAnim .3s;
    animation: popInAnim .3s;
}

/***Hnng*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}

/* IE7 */