@model IEnumerable<NordicArenaTournament.Areas.Speaker.ViewModels.JudgeHasScoredTuple>
@using NordicArenaDomainModels.Resources
@using NordicArenaTournament.Common

@if (Model != null)
{
	<h1>@Text.JudgeStatus:</h1>
	var i = 0;
	foreach (var tuple in Model)
	{
		if (tuple.IsHeadJudge)
		{
			var cssClassName = tuple.HasJudged ? "judge-status-done" : "judge-status-waiting";
			<div>
				<div class="@cssClassName"></div>
			</div>
			i++;
		}
	}
}