@model NordicArenaTournament.Areas.Speaker.ViewModels.SpeakerViewModel.RunControls

@using NordicArenaDomainModels.Resources
@using NordicArenaTournament.Common

<div class="button-container">
	<button type="submit" name="action:NextContestant" @Html.DisableIf(!Model.EnableNextRun)>Neste</button>
</div>

<div class="button-container">
	<button type="submit" name="action:PreviousContestant" class="button-grey" @Html.DisableIf(!Model.EnablePreviousRun)>Tilbake</button>
</div>