@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An unexpected error occurred while processing your request. </h2>       
        Reverted to default ASP.NET MVC error handling as opposed to ELMAH. This should not happen.
    </hgroup>
</body>
</html>